<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>ui/top_r_season2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1165,4046},{54,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{54,50}</string>
			</dict>
			<key>ui/top_r_season0.png</key>
			<dict>
				<key>frame</key>
				<string>{{1107,4049},{58,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{58,42}</string>
			</dict>
			<key>ui/top_r_season1.png</key>
			<dict>
				<key>frame</key>
				<string>{{720,1028},{55,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{55,55}</string>
			</dict>
			<key>ui/top_r_season3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1111,3496},{49,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{49,53}</string>
			</dict>
			<key>ui/top_weather1.png</key>
			<dict>
				<key>frame</key>
				<string>{{990,3497},{63,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{63,52}</string>
			</dict>
			<key>ui/top_weather2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1343,4034},{68,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{68,56}</string>
			</dict>
			<key>ui/top_weather3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1275,4034},{68,57}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{68,57}</string>
			</dict>
			<key>ui/top_weather0.png</key>
			<dict>
				<key>frame</key>
				<string>{{1156,3222},{59,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{59,54}</string>
			</dict>
			<key>ui/topbg.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,2595},{720,435}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{720,435}</string>
			</dict>
			<key>ui/topbox.png</key>
			<dict>
				<key>frame</key>
				<string>{{435,3010},{585,114}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{585,114}</string>
			</dict>
			<key>ui/topdegree.png</key>
			<dict>
				<key>frame</key>
				<string>{{834,3285},{26,25}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{26,25}</string>
			</dict>
			<key>ui/topeventwordbox.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,3875},{719,207}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{719,207}</string>
			</dict>
			<key>ui/tophero0.png</key>
			<dict>
				<key>frame</key>
				<string>{{728,3315},{181,238}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{181,238}</string>
			</dict>
			<key>ui/tophungerbar.png</key>
			<dict>
				<key>frame</key>
				<string>{{1082,3222},{59,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{59,74}</string>
			</dict>
			<key>ui/tophungerbg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1048,3655},{72,83}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{72,83}</string>
			</dict>
			<key>ui/topoutinjurybar.png</key>
			<dict>
				<key>frame</key>
				<string>{{909,3497},{52,81}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{52,81}</string>
			</dict>
			<key>ui/topoutinjurybg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1131,3653},{63,87}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{63,87}</string>
			</dict>
			<key>ui/toplifebar.png</key>
			<dict>
				<key>frame</key>
				<string>{{720,961},{65,67}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{65,67}</string>
			</dict>
			<key>ui/toplifebg.png</key>
			<dict>
				<key>frame</key>
				<string>{{721,2799},{79,81}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{79,81}</string>
			</dict>
			<key>ui/toplivedaysicon.png</key>
			<dict>
				<key>frame</key>
				<string>{{1053,3496},{58,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{58,51}</string>
			</dict>
			<key>ui/topinnerinjurybar.png</key>
			<dict>
				<key>frame</key>
				<string>{{1411,4026},{64,71}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{64,71}</string>
			</dict>
			<key>ui/topinnerinjurybg.png</key>
			<dict>
				<key>frame</key>
				<string>{{800,2799},{79,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{79,80}</string>
			</dict>
			<key>ui/topspiritbar.png</key>
			<dict>
				<key>frame</key>
				<string>{{1218,3643},{65,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{65,74}</string>
			</dict>
			<key>ui/topspiritbg.png</key>
			<dict>
				<key>frame</key>
				<string>{{959,3655},{73,89}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{73,89}</string>
			</dict>
			<key>ui/toptemperature.png</key>
			<dict>
				<key>frame</key>
				<string>{{719,4075},{21,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{21,52}</string>
			</dict>
			<key>ui/toptimeicon.png</key>
			<dict>
				<key>frame</key>
				<string>{{1219,4046},{48,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{48,56}</string>
			</dict>
			<key>ui/room.jpg</key>
			<dict>
				<key>frame</key>
				<string>{{0,1059},{720,892}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{720,892}</string>
			</dict>
			<key>ui/bed.png</key>
			<dict>
				<key>frame</key>
				<string>{{435,3124},{319,175}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{319,175}</string>
			</dict>
			<key>ui/cooktable.png</key>
			<dict>
				<key>frame</key>
				<string>{{754,3124},{161,207}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{161,207}</string>
			</dict>
			<key>ui/exerciseroom.png</key>
			<dict>
				<key>frame</key>
				<string>{{523,3315},{263,205}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{263,205}</string>
			</dict>
			<key>ui/fence .png</key>
			<dict>
				<key>frame</key>
				<string>{{728,3740},{179,97}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{179,97}</string>
			</dict>
			<key>ui/forgingtable.png</key>
			<dict>
				<key>frame</key>
				<string>{{435,2595},{286,297}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{286,297}</string>
			</dict>
			<key>ui/furnace.png</key>
			<dict>
				<key>frame</key>
				<string>{{720,848},{96,113}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{96,113}</string>
			</dict>
			<key>ui/medicinekit.png</key>
			<dict>
				<key>frame</key>
				<string>{{907,3738},{99,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{99,140}</string>
			</dict>
			<key>ui/storageroom.png</key>
			<dict>
				<key>frame</key>
				<string>{{719,3859},{208,216}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{208,216}</string>
			</dict>
			<key>ui/winemake.png</key>
			<dict>
				<key>frame</key>
				<string>{{728,3553},{109,187}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{109,187}</string>
			</dict>
			<key>ui/syssmallbg.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,3315},{523,560}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{523,560}</string>
			</dict>
			<key>ui/syssmalltie.png</key>
			<dict>
				<key>frame</key>
				<string>{{927,4049},{180,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{180,38}</string>
			</dict>
			<key>ui/builditem.png</key>
			<dict>
				<key>frame</key>
				<string>{{435,2892},{606,118}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{606,118}</string>
			</dict>
			<key>ui/normalboxgb.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{720,1059}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{720,1059}</string>
			</dict>
			<key>ui/backbtn.png</key>
			<dict>
				<key>frame</key>
				<string>{{837,3675},{122,63}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{122,63}</string>
			</dict>
			<key>ui/buildsmall.png</key>
			<dict>
				<key>frame</key>
				<string>{{837,3553},{122,122}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{122,122}</string>
			</dict>
			<key>ui/resbox.png</key>
			<dict>
				<key>frame</key>
				<string>{{1164,3493},{44,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{44,44}</string>
			</dict>
			<key>ui/buildprogressbar.png</key>
			<dict>
				<key>frame</key>
				<string>{{435,3299},{338,16}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{338,16}</string>
			</dict>
			<key>ui/buildprogressbg.png</key>
			<dict>
				<key>frame</key>
				<string>{{523,3841},{340,18}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{340,18}</string>
			</dict>
			<key>ui/normalbtn.png</key>
			<dict>
				<key>frame</key>
				<string>{{961,3230},{121,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{121,54}</string>
			</dict>
			<key>ui/sbed.png</key>
			<dict>
				<key>frame</key>
				<string>{{927,3837},{106,106}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{106,106}</string>
			</dict>
			<key>ui/ba0.png</key>
			<dict>
				<key>frame</key>
				<string>{{927,3943},{106,106}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{106,106}</string>
			</dict>
			<key>ui/winetable.png</key>
			<dict>
				<key>frame</key>
				<string>{{523,3578},{263,205}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{263,205}</string>
			</dict>
			<key>ui/scooktable.png</key>
			<dict>
				<key>frame</key>
				<string>{{1033,3837},{106,106}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{106,106}</string>
			</dict>
			<key>ui/ba1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1033,3943},{106,106}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{106,106}</string>
			</dict>
			<key>ui/ba2.png</key>
			<dict>
				<key>frame</key>
				<string>{{909,3285},{106,106}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{106,106}</string>
			</dict>
			<key>ui/bb0.png</key>
			<dict>
				<key>frame</key>
				<string>{{961,3124},{106,106}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{106,106}</string>
			</dict>
			<key>ui/bb1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1020,3010},{106,106}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{106,106}</string>
			</dict>
			<key>ui/sforgingtable.png</key>
			<dict>
				<key>frame</key>
				<string>{{1067,3116},{106,106}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{106,106}</string>
			</dict>
			<key>ui/bwine.png</key>
			<dict>
				<key>frame</key>
				<string>{{909,3391},{106,106}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{106,106}</string>
			</dict>
			<key>ui/swinemake.png</key>
			<dict>
				<key>frame</key>
				<string>{{959,3549},{106,106}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{106,106}</string>
			</dict>
			<key>ui/smedicinekit.png</key>
			<dict>
				<key>frame</key>
				<string>{{1047,3728},{106,106}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{106,106}</string>
			</dict>
			<key>ui/bh0.png</key>
			<dict>
				<key>frame</key>
				<string>{{1139,3834},{106,106}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{106,106}</string>
			</dict>
			<key>ui/bh1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1139,3940},{106,106}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{106,106}</string>
			</dict>
			<key>ui/sfurnace.png</key>
			<dict>
				<key>frame</key>
				<string>{{1015,3284},{106,106}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{106,106}</string>
			</dict>
			<key>ui/bw0.png</key>
			<dict>
				<key>frame</key>
				<string>{{1015,3390},{106,106}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{106,106}</string>
			</dict>
			<key>ui/swinetable.png</key>
			<dict>
				<key>frame</key>
				<string>{{1065,3547},{106,106}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{106,106}</string>
			</dict>
			<key>ui/storagesepline.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,4082},{307,13}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{307,13}</string>
			</dict>
			<key>ui/1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1153,3716},{106,106}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{106,106}</string>
			</dict>
			<key>ui/10.png</key>
			<dict>
				<key>frame</key>
				<string>{{1245,3822},{106,106}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{106,106}</string>
			</dict>
			<key>ui/11.png</key>
			<dict>
				<key>frame</key>
				<string>{{1245,3928},{106,106}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{106,106}</string>
			</dict>
			<key>ui/12.png</key>
			<dict>
				<key>frame</key>
				<string>{{1121,3281},{106,106}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{106,106}</string>
			</dict>
			<key>ui/13.png</key>
			<dict>
				<key>frame</key>
				<string>{{1121,3387},{106,106}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{106,106}</string>
			</dict>
			<key>ui/14.png</key>
			<dict>
				<key>frame</key>
				<string>{{1171,3537},{106,106}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{106,106}</string>
			</dict>
			<key>ui/15.png</key>
			<dict>
				<key>frame</key>
				<string>{{1259,3708},{106,106}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{106,106}</string>
			</dict>
			<key>ui/16.png</key>
			<dict>
				<key>frame</key>
				<string>{{1351,3814},{106,106}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{106,106}</string>
			</dict>
			<key>ui/17.png</key>
			<dict>
				<key>frame</key>
				<string>{{1351,3920},{106,106}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{106,106}</string>
			</dict>
			<key>ui/18.png</key>
			<dict>
				<key>frame</key>
				<string>{{566,1951},{106,106}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{106,106}</string>
			</dict>
			<key>ui/19.png</key>
			<dict>
				<key>frame</key>
				<string>{{566,2057},{106,106}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{106,106}</string>
			</dict>
			<key>ui/2.png</key>
			<dict>
				<key>frame</key>
				<string>{{566,2163},{106,106}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{106,106}</string>
			</dict>
			<key>ui/20.png</key>
			<dict>
				<key>frame</key>
				<string>{{566,2269},{106,106}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{106,106}</string>
			</dict>
			<key>ui/21.png</key>
			<dict>
				<key>frame</key>
				<string>{{566,2375},{106,106}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{106,106}</string>
			</dict>
			<key>ui/22.png</key>
			<dict>
				<key>frame</key>
				<string>{{566,2481},{106,106}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{106,106}</string>
			</dict>
			<key>ui/23.png</key>
			<dict>
				<key>frame</key>
				<string>{{672,1951},{106,106}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{106,106}</string>
			</dict>
			<key>ui/3.png</key>
			<dict>
				<key>frame</key>
				<string>{{672,2057},{106,106}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{106,106}</string>
			</dict>
			<key>ui/4.png</key>
			<dict>
				<key>frame</key>
				<string>{{672,2163},{106,106}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{106,106}</string>
			</dict>
			<key>ui/5.png</key>
			<dict>
				<key>frame</key>
				<string>{{672,2269},{106,106}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{106,106}</string>
			</dict>
			<key>ui/6.png</key>
			<dict>
				<key>frame</key>
				<string>{{672,2375},{106,106}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{106,106}</string>
			</dict>
			<key>ui/7.png</key>
			<dict>
				<key>frame</key>
				<string>{{672,2481},{106,106}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{106,106}</string>
			</dict>
			<key>ui/8.png</key>
			<dict>
				<key>frame</key>
				<string>{{721,2587},{106,106}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{106,106}</string>
			</dict>
			<key>ui/9.png</key>
			<dict>
				<key>frame</key>
				<string>{{721,2693},{106,106}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{106,106}</string>
			</dict>
			<key>ui/heroppoint.png</key>
			<dict>
				<key>frame</key>
				<string>{{773,3285},{61,27}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{61,27}</string>
			</dict>
			<key>ui/heroselectbg.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1951},{644,566}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{644,566}</string>
			</dict>
			<key>ui/hp3.png</key>
			<dict>
				<key>frame</key>
				<string>{{720,0},{106,106}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{106,106}</string>
			</dict>
			<key>ui/hp4.png</key>
			<dict>
				<key>frame</key>
				<string>{{720,106},{106,106}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{106,106}</string>
			</dict>
			<key>ui/hp5.png</key>
			<dict>
				<key>frame</key>
				<string>{{720,212},{106,106}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{106,106}</string>
			</dict>
			<key>ui/hp6.png</key>
			<dict>
				<key>frame</key>
				<string>{{720,318},{106,106}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{106,106}</string>
			</dict>
			<key>ui/hp8-1.png</key>
			<dict>
				<key>frame</key>
				<string>{{720,424},{106,106}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{106,106}</string>
			</dict>
			<key>ui/hp8-2.png</key>
			<dict>
				<key>frame</key>
				<string>{{720,530},{106,106}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{106,106}</string>
			</dict>
			<key>ui/hp8-3.png</key>
			<dict>
				<key>frame</key>
				<string>{{720,636},{106,106}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{106,106}</string>
			</dict>
			<key>ui/hp8-4.png</key>
			<dict>
				<key>frame</key>
				<string>{{720,742},{106,106}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{106,106}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>uipacker.png</string>
			<key>realTextureFileName</key>
			<string>uipacker.png</string>
			<key>size</key>
			<string>{2048,4096}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2048</integer>
			<key>height</key>
			<integer>4096</integer>
		</dict>
	</dict>
</plist>