<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>ui/top_r_season2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1253,1133},{54,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{54,50}</string>
			</dict>
			<key>ui/top_r_season0.png</key>
			<dict>
				<key>frame</key>
				<string>{{1472,3996},{58,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{58,42}</string>
			</dict>
			<key>ui/top_r_season1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1786,64},{55,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{55,55}</string>
			</dict>
			<key>ui/top_r_season3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1814,4047},{49,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{49,53}</string>
			</dict>
			<key>ui/top_weather1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1233,865},{63,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{63,52}</string>
			</dict>
			<key>ui/top_weather2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1165,865},{68,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{68,56}</string>
			</dict>
			<key>ui/top_weather3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1948,4038},{68,57}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{68,57}</string>
			</dict>
			<key>ui/top_weather0.png</key>
			<dict>
				<key>frame</key>
				<string>{{1296,865},{59,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{59,54}</string>
			</dict>
			<key>ui/topbg.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,2595},{720,435}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{720,435}</string>
			</dict>
			<key>ui/topbox.png</key>
			<dict>
				<key>frame</key>
				<string>{{719,3868},{585,114}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{585,114}</string>
			</dict>
			<key>ui/topdegree.png</key>
			<dict>
				<key>frame</key>
				<string>{{1794,4021},{26,25}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{26,25}</string>
			</dict>
			<key>ui/topeventwordbox.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,3871},{719,207}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{719,207}</string>
			</dict>
			<key>ui/tophero0.png</key>
			<dict>
				<key>frame</key>
				<string>{{1260,216},{181,238}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{181,238}</string>
			</dict>
			<key>ui/tophungerbar.png</key>
			<dict>
				<key>frame</key>
				<string>{{1263,1714},{59,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{59,74}</string>
			</dict>
			<key>ui/tophungerbg.png</key>
			<dict>
				<key>frame</key>
				<string>{{990,1714},{72,83}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{72,83}</string>
			</dict>
			<key>ui/topoutinjurybar.png</key>
			<dict>
				<key>frame</key>
				<string>{{1867,4038},{52,81}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{52,81}</string>
			</dict>
			<key>ui/topoutinjurybg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1012,1797},{63,87}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{63,87}</string>
			</dict>
			<key>ui/toplifebar.png</key>
			<dict>
				<key>frame</key>
				<string>{{1602,318},{65,67}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{65,67}</string>
			</dict>
			<key>ui/toplifebg.png</key>
			<dict>
				<key>frame</key>
				<string>{{2034,3940},{79,81}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{79,81}</string>
			</dict>
			<key>ui/toplivedaysicon.png</key>
			<dict>
				<key>frame</key>
				<string>{{1195,1133},{58,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{58,51}</string>
			</dict>
			<key>ui/topinnerinjurybar.png</key>
			<dict>
				<key>frame</key>
				<string>{{1127,1714},{64,71}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{64,71}</string>
			</dict>
			<key>ui/topinnerinjurybg.png</key>
			<dict>
				<key>frame</key>
				<string>{{2113,3940},{79,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{79,80}</string>
			</dict>
			<key>ui/topspiritbar.png</key>
			<dict>
				<key>frame</key>
				<string>{{1062,1714},{65,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{65,74}</string>
			</dict>
			<key>ui/topspiritbg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1961,3940},{73,89}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{73,89}</string>
			</dict>
			<key>ui/toptemperature.png</key>
			<dict>
				<key>frame</key>
				<string>{{1041,3294},{21,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{21,52}</string>
			</dict>
			<key>ui/toptimeicon.png</key>
			<dict>
				<key>frame</key>
				<string>{{720,1903},{48,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{48,56}</string>
			</dict>
			<key>ui/room.jpg</key>
			<dict>
				<key>frame</key>
				<string>{{0,1059},{720,892}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{720,892}</string>
			</dict>
			<key>ui/bed.png</key>
			<dict>
				<key>frame</key>
				<string>{{990,602},{319,175}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{319,175}</string>
			</dict>
			<key>ui/cooktable.png</key>
			<dict>
				<key>frame</key>
				<string>{{1441,216},{161,207}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{161,207}</string>
			</dict>
			<key>ui/exerciseroom.png</key>
			<dict>
				<key>frame</key>
				<string>{{990,921},{263,205}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{263,205}</string>
			</dict>
			<key>ui/fence.png</key>
			<dict>
				<key>frame</key>
				<string>{{720,1806},{179,97}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{179,97}</string>
			</dict>
			<key>ui/forgingtable.png</key>
			<dict>
				<key>frame</key>
				<string>{{1125,3564},{286,297}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{286,297}</string>
			</dict>
			<key>ui/furnace.png</key>
			<dict>
				<key>frame</key>
				<string>{{899,1806},{96,113}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{96,113}</string>
			</dict>
			<key>ui/medicinekit.png</key>
			<dict>
				<key>frame</key>
				<string>{{1041,3195},{99,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{99,140}</string>
			</dict>
			<key>ui/storageroom.png</key>
			<dict>
				<key>frame</key>
				<string>{{1260,0},{208,216}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{208,216}</string>
			</dict>
			<key>ui/winemake.png</key>
			<dict>
				<key>frame</key>
				<string>{{1304,3861},{109,187}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{109,187}</string>
			</dict>
			<key>ui/syssmallbg.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,3315},{523,556}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{523,556}</string>
			</dict>
			<key>ui/syssmalltie.png</key>
			<dict>
				<key>frame</key>
				<string>{{1172,3982},{180,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{180,38}</string>
			</dict>
			<key>ui/builditem.png</key>
			<dict>
				<key>frame</key>
				<string>{{435,3197},{606,118}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{606,118}</string>
			</dict>
			<key>ui/normalboxgb.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{720,1059}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{720,1059}</string>
			</dict>
			<key>ui/backbtn.png</key>
			<dict>
				<key>frame</key>
				<string>{{1050,3982},{122,63}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{122,63}</string>
			</dict>
			<key>ui/buildsmall.png</key>
			<dict>
				<key>frame</key>
				<string>{{1809,3834},{122,122}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{122,122}</string>
			</dict>
			<key>ui/resbox.png</key>
			<dict>
				<key>frame</key>
				<string>{{1628,4050},{44,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{44,44}</string>
			</dict>
			<key>ui/buildprogressbar.png</key>
			<dict>
				<key>frame</key>
				<string>{{340,4078},{338,16}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{338,16}</string>
			</dict>
			<key>ui/buildprogressbg.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,4078},{340,18}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{340,18}</string>
			</dict>
			<key>ui/normalbtn.png</key>
			<dict>
				<key>frame</key>
				<string>{{1840,3984},{121,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{121,54}</string>
			</dict>
			<key>ui/sbed.png</key>
			<dict>
				<key>frame</key>
				<string>{{1491,3860},{106,106}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{106,106}</string>
			</dict>
			<key>ui/ba0.png</key>
			<dict>
				<key>frame</key>
				<string>{{1597,3860},{106,106}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{106,106}</string>
			</dict>
			<key>ui/winetable.png</key>
			<dict>
				<key>frame</key>
				<string>{{1165,602},{263,205}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{263,205}</string>
			</dict>
			<key>ui/scooktable.png</key>
			<dict>
				<key>frame</key>
				<string>{{1703,3860},{106,106}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{106,106}</string>
			</dict>
			<key>ui/ba1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1931,3834},{106,106}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{106,106}</string>
			</dict>
			<key>ui/ba2.png</key>
			<dict>
				<key>frame</key>
				<string>{{2037,3834},{106,106}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{106,106}</string>
			</dict>
			<key>ui/bb0.png</key>
			<dict>
				<key>frame</key>
				<string>{{1260,454},{106,106}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{106,106}</string>
			</dict>
			<key>ui/bb1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1366,454},{106,106}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{106,106}</string>
			</dict>
			<key>ui/sforgingtable.png</key>
			<dict>
				<key>frame</key>
				<string>{{1468,0},{106,106}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{106,106}</string>
			</dict>
			<key>ui/bwine.png</key>
			<dict>
				<key>frame</key>
				<string>{{1468,106},{106,106}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{106,106}</string>
			</dict>
			<key>ui/swinemake.png</key>
			<dict>
				<key>frame</key>
				<string>{{1574,0},{106,106}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{106,106}</string>
			</dict>
			<key>ui/smedicinekit.png</key>
			<dict>
				<key>frame</key>
				<string>{{1574,106},{106,106}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{106,106}</string>
			</dict>
			<key>ui/bh0.png</key>
			<dict>
				<key>frame</key>
				<string>{{990,1184},{106,106}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{106,106}</string>
			</dict>
			<key>ui/bh1.png</key>
			<dict>
				<key>frame</key>
				<string>{{990,1290},{106,106}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{106,106}</string>
			</dict>
			<key>ui/sfurnace.png</key>
			<dict>
				<key>frame</key>
				<string>{{990,1396},{106,106}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{106,106}</string>
			</dict>
			<key>ui/bw0.png</key>
			<dict>
				<key>frame</key>
				<string>{{990,1502},{106,106}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{106,106}</string>
			</dict>
			<key>ui/swinetable.png</key>
			<dict>
				<key>frame</key>
				<string>{{990,1608},{106,106}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{106,106}</string>
			</dict>
			<key>ui/storagesepline.png</key>
			<dict>
				<key>frame</key>
				<string>{{523,3855},{307,13}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{307,13}</string>
			</dict>
			<key>ui/1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1075,1788},{106,106}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{106,106}</string>
			</dict>
			<key>ui/10.png</key>
			<dict>
				<key>frame</key>
				<string>{{1096,1184},{106,106}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{106,106}</string>
			</dict>
			<key>ui/11.png</key>
			<dict>
				<key>frame</key>
				<string>{{1195,921},{106,106}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{106,106}</string>
			</dict>
			<key>ui/12.png</key>
			<dict>
				<key>frame</key>
				<string>{{1195,1027},{106,106}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{106,106}</string>
			</dict>
			<key>ui/13.png</key>
			<dict>
				<key>frame</key>
				<string>{{1096,1290},{106,106}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{106,106}</string>
			</dict>
			<key>ui/14.png</key>
			<dict>
				<key>frame</key>
				<string>{{1096,1396},{106,106}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{106,106}</string>
			</dict>
			<key>ui/15.png</key>
			<dict>
				<key>frame</key>
				<string>{{1096,1502},{106,106}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{106,106}</string>
			</dict>
			<key>ui/16.png</key>
			<dict>
				<key>frame</key>
				<string>{{1096,1608},{106,106}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{106,106}</string>
			</dict>
			<key>ui/17.png</key>
			<dict>
				<key>frame</key>
				<string>{{1106,1894},{106,106}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{106,106}</string>
			</dict>
			<key>ui/18.png</key>
			<dict>
				<key>frame</key>
				<string>{{1181,1785},{106,106}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{106,106}</string>
			</dict>
			<key>ui/19.png</key>
			<dict>
				<key>frame</key>
				<string>{{1202,1184},{106,106}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{106,106}</string>
			</dict>
			<key>ui/2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1301,919},{106,106}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{106,106}</string>
			</dict>
			<key>ui/20.png</key>
			<dict>
				<key>frame</key>
				<string>{{1301,1025},{106,106}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{106,106}</string>
			</dict>
			<key>ui/21.png</key>
			<dict>
				<key>frame</key>
				<string>{{1370,560},{106,106}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{106,106}</string>
			</dict>
			<key>ui/22.png</key>
			<dict>
				<key>frame</key>
				<string>{{1472,423},{106,106}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{106,106}</string>
			</dict>
			<key>ui/23.png</key>
			<dict>
				<key>frame</key>
				<string>{{1370,666},{106,106}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{106,106}</string>
			</dict>
			<key>ui/3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1370,772},{106,106}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{106,106}</string>
			</dict>
			<key>ui/4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1202,1290},{106,106}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{106,106}</string>
			</dict>
			<key>ui/5.png</key>
			<dict>
				<key>frame</key>
				<string>{{1202,1396},{106,106}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{106,106}</string>
			</dict>
			<key>ui/6.png</key>
			<dict>
				<key>frame</key>
				<string>{{1202,1502},{106,106}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{106,106}</string>
			</dict>
			<key>ui/7.png</key>
			<dict>
				<key>frame</key>
				<string>{{1202,1608},{106,106}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{106,106}</string>
			</dict>
			<key>ui/8.png</key>
			<dict>
				<key>frame</key>
				<string>{{1106,2000},{106,106}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{106,106}</string>
			</dict>
			<key>ui/9.png</key>
			<dict>
				<key>frame</key>
				<string>{{1106,2106},{106,106}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{106,106}</string>
			</dict>
			<key>ui/heroppoint.png</key>
			<dict>
				<key>frame</key>
				<string>{{1734,3966},{61,27}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{61,27}</string>
			</dict>
			<key>ui/heroselectbg.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1951},{644,566}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{644,566}</string>
			</dict>
			<key>ui/hp3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1106,2212},{106,106}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{106,106}</string>
			</dict>
			<key>ui/hp4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1106,2318},{106,106}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{106,106}</string>
			</dict>
			<key>ui/hp5.png</key>
			<dict>
				<key>frame</key>
				<string>{{1106,2424},{106,106}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{106,106}</string>
			</dict>
			<key>ui/hp6.png</key>
			<dict>
				<key>frame</key>
				<string>{{1308,1131},{106,106}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{106,106}</string>
			</dict>
			<key>ui/hp8-1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1407,878},{106,106}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{106,106}</string>
			</dict>
			<key>ui/hp8-2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1407,984},{106,106}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{106,106}</string>
			</dict>
			<key>ui/hp8-3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1476,529},{106,106}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{106,106}</string>
			</dict>
			<key>ui/hp8-4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1578,423},{106,106}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{106,106}</string>
			</dict>
			<key>ui/m10-1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1246,4071},{96,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{96,24}</string>
			</dict>
			<key>ui/m10-2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1258,4048},{72,22}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{72,22}</string>
			</dict>
			<key>ui/m10-3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1422,3780},{70,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{70,28}</string>
			</dict>
			<key>ui/m10-4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1736,3993},{52,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{52,28}</string>
			</dict>
			<key>ui/m10-5.png</key>
			<dict>
				<key>frame</key>
				<string>{{862,2535},{76,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{76,28}</string>
			</dict>
			<key>ui/m1-1.png</key>
			<dict>
				<key>frame</key>
				<string>{{776,1903},{48,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{48,52}</string>
			</dict>
			<key>ui/m11-1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1528,3966},{70,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{70,28}</string>
			</dict>
			<key>ui/m11-2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1172,4020},{86,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{86,24}</string>
			</dict>
			<key>ui/m11-3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1598,3966},{68,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{68,28}</string>
			</dict>
			<key>ui/m11-4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1422,3564},{72,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{72,28}</string>
			</dict>
			<key>ui/m11-5.png</key>
			<dict>
				<key>frame</key>
				<string>{{642,2553},{74,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{74,30}</string>
			</dict>
			<key>ui/m11-6.png</key>
			<dict>
				<key>frame</key>
				<string>{{1181,3249},{68,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{68,30}</string>
			</dict>
			<key>ui/m11-7.png</key>
			<dict>
				<key>frame</key>
				<string>{{1463,3834},{74,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{74,26}</string>
			</dict>
			<key>ui/m1-2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1788,3993},{52,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{52,28}</string>
			</dict>
			<key>ui/m12-1.png</key>
			<dict>
				<key>frame</key>
				<string>{{975,3165},{70,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{70,30}</string>
			</dict>
			<key>ui/m1-3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1154,4045},{104,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{104,26}</string>
			</dict>
			<key>ui/m1-4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1342,4070},{102,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{102,26}</string>
			</dict>
			<key>ui/m2-1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1088,2535},{86,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{86,24}</string>
			</dict>
			<key>ui/m2-2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1434,3970},{94,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{94,26}</string>
			</dict>
			<key>ui/m2-3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1258,4020},{120,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,28}</string>
			</dict>
			<key>ui/m2-4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1498,4038},{88,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{88,26}</string>
			</dict>
			<key>ui/m2-5.png</key>
			<dict>
				<key>frame</key>
				<string>{{1050,4045},{104,27}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{104,27}</string>
			</dict>
			<key>ui/m3-1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1191,1714},{72,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{72,62}</string>
			</dict>
			<key>ui/m3-2.png</key>
			<dict>
				<key>frame</key>
				<string>{{938,2535},{76,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{76,28}</string>
			</dict>
			<key>ui/m3-3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1600,3994},{68,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{68,28}</string>
			</dict>
			<key>ui/m3-4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1672,4050},{70,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{70,26}</string>
			</dict>
			<key>ui/m4-1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1786,0},{64,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{64,60}</string>
			</dict>
			<key>ui/m4-10.png</key>
			<dict>
				<key>frame</key>
				<string>{{1352,3970},{82,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{82,38}</string>
			</dict>
			<key>ui/m4-2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1422,3636},{72,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{72,28}</string>
			</dict>
			<key>ui/m4-3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1537,3834},{74,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{74,26}</string>
			</dict>
			<key>ui/m4-4.png</key>
			<dict>
				<key>frame</key>
				<string>{{716,2553},{74,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{74,30}</string>
			</dict>
			<key>ui/m4-5.png</key>
			<dict>
				<key>frame</key>
				<string>{{790,2553},{72,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{72,30}</string>
			</dict>
			<key>ui/m4-6.png</key>
			<dict>
				<key>frame</key>
				<string>{{1611,3834},{74,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{74,26}</string>
			</dict>
			<key>ui/m4-7.png</key>
			<dict>
				<key>frame</key>
				<string>{{1422,3708},{72,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{72,28}</string>
			</dict>
			<key>ui/m4-8.png</key>
			<dict>
				<key>frame</key>
				<string>{{1667,318},{72,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{72,60}</string>
			</dict>
			<key>ui/m4-9.png</key>
			<dict>
				<key>frame</key>
				<string>{{1045,3165},{70,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{70,30}</string>
			</dict>
			<key>ui/m5-1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1757,3834},{52,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{52,24}</string>
			</dict>
			<key>ui/m5-2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1378,4008},{94,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{94,30}</string>
			</dict>
			<key>ui/m5-3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1724,4022},{70,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{70,26}</string>
			</dict>
			<key>ui/m6-1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1115,3165},{70,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{70,30}</string>
			</dict>
			<key>ui/m6-2.png</key>
			<dict>
				<key>frame</key>
				<string>{{828,1903},{72,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{72,30}</string>
			</dict>
			<key>ui/m6-3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1666,3966},{68,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{68,28}</string>
			</dict>
			<key>ui/m6-4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1685,3834},{72,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{72,26}</string>
			</dict>
			<key>ui/m7-1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1833,3956},{46,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{46,28}</string>
			</dict>
			<key>ui/m7-10.png</key>
			<dict>
				<key>frame</key>
				<string>{{1742,4048},{70,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{70,26}</string>
			</dict>
			<key>ui/m7-11.png</key>
			<dict>
				<key>frame</key>
				<string>{{1656,4022},{68,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{68,28}</string>
			</dict>
			<key>ui/m7-12.png</key>
			<dict>
				<key>frame</key>
				<string>{{1330,4048},{72,22}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{72,22}</string>
			</dict>
			<key>ui/m7-2.png</key>
			<dict>
				<key>frame</key>
				<string>{{2016,4029},{98,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{98,66}</string>
			</dict>
			<key>ui/m7-3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1795,3966},{38,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{38,24}</string>
			</dict>
			<key>ui/m7-4.png</key>
			<dict>
				<key>frame</key>
				<string>{{900,1902},{72,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{72,30}</string>
			</dict>
			<key>ui/m7-5.png</key>
			<dict>
				<key>frame</key>
				<string>{{1530,3994},{70,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{70,28}</string>
			</dict>
			<key>ui/m7-6.png</key>
			<dict>
				<key>frame</key>
				<string>{{1185,3165},{70,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{70,30}</string>
			</dict>
			<key>ui/m7-7.png</key>
			<dict>
				<key>frame</key>
				<string>{{1014,2535},{74,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{74,28}</string>
			</dict>
			<key>ui/m7-8.png</key>
			<dict>
				<key>frame</key>
				<string>{{1444,4066},{96,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{96,26}</string>
			</dict>
			<key>ui/m7-9.png</key>
			<dict>
				<key>frame</key>
				<string>{{972,1902},{72,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{72,30}</string>
			</dict>
			<key>ui/m8-1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1668,3994},{68,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{68,28}</string>
			</dict>
			<key>ui/m8-2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1742,4074},{72,22}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{72,22}</string>
			</dict>
			<key>ui/m9-1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1249,3249},{68,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{68,30}</string>
			</dict>
			<key>ui/m9-2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1402,4038},{96,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{96,28}</string>
			</dict>
			<key>ui/m9-3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1586,4022},{70,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{70,28}</string>
			</dict>
			<key>ui/m9-4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1142,4072},{104,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{104,24}</string>
			</dict>
			<key>ui/m9-5.png</key>
			<dict>
				<key>frame</key>
				<string>{{1540,4064},{88,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{88,26}</string>
			</dict>
			<key>ui/m9-6.png</key>
			<dict>
				<key>frame</key>
				<string>{{566,2553},{76,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{76,30}</string>
			</dict>
			<key>ui/xline.png</key>
			<dict>
				<key>frame</key>
				<string>{{830,3855},{633,6}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{633,6}</string>
			</dict>
			<key>ui/disbtn.png</key>
			<dict>
				<key>frame</key>
				<string>{{1181,3195},{122,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{122,54}</string>
			</dict>
			<key>ui/66.png</key>
			<dict>
				<key>frame</key>
				<string>{{1602,212},{106,106}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{106,106}</string>
			</dict>
			<key>ui/67.png</key>
			<dict>
				<key>frame</key>
				<string>{{1680,0},{106,106}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{106,106}</string>
			</dict>
			<key>ui/68.png</key>
			<dict>
				<key>frame</key>
				<string>{{1680,106},{106,106}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{106,106}</string>
			</dict>
			<key>ui/69.png</key>
			<dict>
				<key>frame</key>
				<string>{{1708,212},{106,106}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{106,106}</string>
			</dict>
			<key>ui/t001.jpg</key>
			<dict>
				<key>frame</key>
				<string>{{435,2595},{602,270}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{602,270}</string>
			</dict>
			<key>ui/t002.jpg</key>
			<dict>
				<key>frame</key>
				<string>{{523,3315},{602,270}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{602,270}</string>
			</dict>
			<key>ui/t003.jpg</key>
			<dict>
				<key>frame</key>
				<string>{{523,3585},{602,270}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{602,270}</string>
			</dict>
			<key>ui/t004.jpg</key>
			<dict>
				<key>frame</key>
				<string>{{566,1951},{602,270}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{602,270}</string>
			</dict>
			<key>ui/t005.jpg</key>
			<dict>
				<key>frame</key>
				<string>{{705,2583},{602,270}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{602,270}</string>
			</dict>
			<key>ui/t006.jpg</key>
			<dict>
				<key>frame</key>
				<string>{{720,0},{602,270}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{602,270}</string>
			</dict>
			<key>ui/t007.jpg</key>
			<dict>
				<key>frame</key>
				<string>{{720,602},{602,270}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{602,270}</string>
			</dict>
			<key>ui/t008.jpg</key>
			<dict>
				<key>frame</key>
				<string>{{720,1204},{602,270}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{602,270}</string>
			</dict>
			<key>ui/t009.jpg</key>
			<dict>
				<key>frame</key>
				<string>{{836,1933},{602,270}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{602,270}</string>
			</dict>
			<key>ui/t010.jpg</key>
			<dict>
				<key>frame</key>
				<string>{{975,2563},{602,270}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{602,270}</string>
			</dict>
			<key>ui/t011.jpg</key>
			<dict>
				<key>frame</key>
				<string>{{1125,3294},{602,270}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{602,270}</string>
			</dict>
			<key>ui/t012.jpg</key>
			<dict>
				<key>frame</key>
				<string>{{1463,3564},{602,270}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{602,270}</string>
			</dict>
			<key>ui/t013.jpg</key>
			<dict>
				<key>frame</key>
				<string>{{990,0},{602,270}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{602,270}</string>
			</dict>
			<key>ui/herohead1.png</key>
			<dict>
				<key>frame</key>
				<string>{{2114,4020},{72,86}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{72,86}</string>
			</dict>
			<key>ui/npcicon.png</key>
			<dict>
				<key>frame</key>
				<string>{{719,3982},{234,90}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{234,90}</string>
			</dict>
			<key>ui/fighticon.png</key>
			<dict>
				<key>frame</key>
				<string>{{953,3982},{89,97}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{89,97}</string>
			</dict>
			<key>ui/fighthpbar.png</key>
			<dict>
				<key>frame</key>
				<string>{{678,4078},{232,18}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{232,18}</string>
			</dict>
			<key>ui/fighthpbg.png</key>
			<dict>
				<key>frame</key>
				<string>{{910,4072},{232,18}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{232,18}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>uipacker.png</string>
			<key>realTextureFileName</key>
			<string>uipacker.png</string>
			<key>size</key>
			<string>{4096,4096}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>4096</integer>
			<key>height</key>
			<integer>4096</integer>
		</dict>
	</dict>
</plist>