<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>ui/top_r_autumn.png</key>
			<dict>
				<key>frame</key>
				<string>{{725,1942},{54,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{54,50}</string>
			</dict>
			<key>ui/top_r_spring.png</key>
			<dict>
				<key>frame</key>
				<string>{{431,2004},{58,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{58,42}</string>
			</dict>
			<key>ui/top_r_summer.png</key>
			<dict>
				<key>frame</key>
				<string>{{676,1887},{55,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{55,55}</string>
			</dict>
			<key>ui/top_r_winner.png</key>
			<dict>
				<key>frame</key>
				<string>{{725,1996},{49,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{49,53}</string>
			</dict>
			<key>ui/top_w_cloudy.png</key>
			<dict>
				<key>frame</key>
				<string>{{619,1968},{63,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{63,52}</string>
			</dict>
			<key>ui/top_w_rainy.png</key>
			<dict>
				<key>frame</key>
				<string>{{637,1819},{68,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{68,56}</string>
			</dict>
			<key>ui/top_w_snow.png</key>
			<dict>
				<key>frame</key>
				<string>{{619,1900},{68,57}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{68,57}</string>
			</dict>
			<key>ui/top_w_sunshine.png</key>
			<dict>
				<key>frame</key>
				<string>{{671,1968},{59,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{59,54}</string>
			</dict>
			<key>ui/topbg.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,892},{720,435}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{720,435}</string>
			</dict>
			<key>ui/topbox.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1819},{585,114}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{585,114}</string>
			</dict>
			<key>ui/topdegree.png</key>
			<dict>
				<key>frame</key>
				<string>{{52,2022},{26,25}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{26,25}</string>
			</dict>
			<key>ui/topeventwordbox.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1612},{719,207}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{719,207}</string>
			</dict>
			<key>ui/tophero0.png</key>
			<dict>
				<key>frame</key>
				<string>{{435,892},{181,238}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{181,238}</string>
			</dict>
			<key>ui/tophungerbar.png</key>
			<dict>
				<key>frame</key>
				<string>{{495,1933},{59,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{59,74}</string>
			</dict>
			<key>ui/tophungerbg.png</key>
			<dict>
				<key>frame</key>
				<string>{{231,1933},{72,83}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{72,83}</string>
			</dict>
			<key>ui/topoutinjurybar.png</key>
			<dict>
				<key>frame</key>
				<string>{{585,1819},{52,81}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{52,81}</string>
			</dict>
			<key>ui/topoutinjurybg.png</key>
			<dict>
				<key>frame</key>
				<string>{{303,1933},{63,87}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{63,87}</string>
			</dict>
			<key>ui/toplifebar.png</key>
			<dict>
				<key>frame</key>
				<string>{{554,1933},{65,67}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{65,67}</string>
			</dict>
			<key>ui/toplifebg.png</key>
			<dict>
				<key>frame</key>
				<string>{{73,1933},{79,81}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{79,81}</string>
			</dict>
			<key>ui/toplivedaysicon.png</key>
			<dict>
				<key>frame</key>
				<string>{{693,1819},{58,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{58,51}</string>
			</dict>
			<key>ui/topinnerinjurybar.png</key>
			<dict>
				<key>frame</key>
				<string>{{431,1933},{64,71}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{64,71}</string>
			</dict>
			<key>ui/topinnerinjurybg.png</key>
			<dict>
				<key>frame</key>
				<string>{{152,1933},{79,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{79,80}</string>
			</dict>
			<key>ui/topspiritbar.png</key>
			<dict>
				<key>frame</key>
				<string>{{366,1933},{65,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{65,74}</string>
			</dict>
			<key>ui/topspiritbg.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1933},{73,89}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{73,89}</string>
			</dict>
			<key>ui/toptemperature.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,2022},{21,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{21,52}</string>
			</dict>
			<key>ui/toptimeicon.png</key>
			<dict>
				<key>frame</key>
				<string>{{554,2000},{48,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{48,56}</string>
			</dict>
			<key>ui/room.jpg</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{720,892}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{720,892}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>uipacker.png</string>
			<key>realTextureFileName</key>
			<string>uipacker.png</string>
			<key>size</key>
			<string>{778,2048}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>778</integer>
			<key>height</key>
			<integer>2048</integer>
		</dict>
	</dict>
</plist>